body {
    background: linear-gradient(135deg, #141e30, #243b55);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Segoe UI;
}

.card {
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
}

.card-header {
    background: #fff;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.form-control,
.btn-primary {
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.divider {
    text-align: center;
    margin: 15px 0;
    color: #999;
}